  
<div class="ui container segment section borderless">
  
  <h2 class="ui horizontal divider header">
    Products
  </h2>
  <div class="ui hidden divider"></div>
  
  <div class="ui four stackable special cards">
    <div class="card">
      <div class="blurring dimmable image">
        <div class="ui dimmer">
          <div class="content">
            <div class="center">
              <a class="ui inverted button" ui-sref=".product({id: '123'})">Buy now</a>
            </div>
          </div>
        </div>
        <img src="assets/images/iphone5.jpg"></img>
      </div>
      <div class="content">
        <a class="header" ui-sref=".product({id: '123'})">Iphone 5 Black 64Gb</a>
      </div>
    </div>
    
    <div class="card">
      <div class="blurring dimmable image">
        <div class="ui dimmer">
          <div class="content">
            <div class="center">
              <div class="ui inverted button">Buy now</div>
            </div>
          </div>
        </div>
        <img src="assets/images/iphone5.jpg"></img>
      </div>
      <div class="content">
        <a class="header">Iphone 5 Black 64Gb</a>
      </div>
    </div>
    
    <div class="card">
      <div class="blurring dimmable image">
        <div class="ui dimmer">
          <div class="content">
            <div class="center">
              <div class="ui inverted button">Buy now</div>
            </div>
          </div>
        </div>
        <img src="assets/images/iphone5.jpg"></img>
      </div>
      <div class="content">
        <a class="header">Iphone 5 Black 64Gb</a>
      </div>
    </div>
    
    <div class="card">
      <div class="blurring dimmable image">
        <div class="ui dimmer">
          <div class="content">
            <div class="center">
              <div class="ui inverted button">Buy now</div>
            </div>
          </div>
        </div>
        <img src="assets/images/iphone5.jpg"></img>
      </div>
      <div class="content">
        <a class="header">Iphone 5 Black 64Gb</a>
      </div>
    </div>
  </div>
</div>
