<div class="ui container segment section borderless">
  <div class="ui stackable centered grid">
    <div class="row">
      <div class="nine wide column">
        <img class="ui fluid image" src="assets/images/iphone5.jpg"></img>
        
      </div>
<!--      <gw-media ng-if="offer.offerType" class="nine wide column" ng-model="offer.media"></gw-media>-->
      
      <div class="seven wide column center aligned">
        <div class="ui segment offer">
          <h2 class="ui header">Iphone 5s 64Gb</h2>
          
          <div class="ui tiny statistic">
            <div class="value">
              $300
            </div>
          </div>
          <div class="ui divider"></div>
          <h3 class="ui header">Quantity</h3>
          <div class="quantity-box">
            <button class="ui icon button"><i class="minus icon"></i></button>
            <div class="ui input">
              <input readonly class="ui input" type="text" placeholder="1">
            </div>
            <button class="ui icon button"><i class="plus icon"></i></button>
          </div>
          
          <div class="ui hidden divider"></div>
          <button class="ui primary large button">Add to card</button>
          
        </div>
      </div>
    </div>  
  
    <div class="row">
      <div class="twelve wide column center aligned">
        <h3 class="ui header">Details</h3>
        <p>Striking, rough, handcrafted with unique details are typical design elements by AS98 for Fall/Winter 2015. The textured black leather on this chelsea boot combined with the unique buckled detail give a tough forward looking edge to an otherwise old school classic.  This ankle boot features a full leather upper, rugged low profile rubber sole and low heel. Designed in Italy and made in Bosnia.</p>
        
        <div class="ui hidden divider"></div>
          
        <p>
          Upper:  Black textured leather.<br/>

          Sole:  Full rubber sole.<br/>

          Heel:  .75 inch heel.<br/>

          Origin:  Bosnia.<br/>

        </p>
          
      </div>
      
    </div>
  
</div>