<div class="ui inverted segment section">
  <div class="ui container">
    <div class="ui stackable inverted divided relaxed grid">
    <div class="row">
      <div class="seven wide column">
        <p class="quote">"Collaborative economy companies need to start sharing more value with the people who make them valuable."</p>
      </div>
      <div class="four wide column">
        <div class="ui inverted link list">
          <a class="item">About us</a>
          <a class=" item">Customer support</a>
          <a class="item">Terms & Conditions</a>
        </div>
      </div>
      <div class="five wide column">
        <div class="ui inverted link list">
          <a class="item" >Address here</a>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>