<div class="ui container nav">
  <a class="logo" ui-sref="home">
    <img class="ui centered small image" src="assets/images/logo.jpg"/>
    <h4 class="ui center aligned header">Phone, Jewelry</h4>
  </a>
  <div class="ui hidden divider"></div>
  <div class="ui centered grid">
    <div class="ui ten wide column">
      <div class="ui fluid four item secondary pointing menu">
        <a class="item active" ui-sref="home.products">Phone</a>
        <a class="item">Jewelry</a>
        <a class="item">Perfume</a>
        <a class="item">Shopping Cart</a>
      </div>
    </div>
  </div>
</div>
  

